/*Graphics Design is my passion*/

.center{
  font-family: monospace;
  font-weight: 900;
  font-size: 1cm;
  vertical-align: middle;
}

td{
  border-style: double;
  border-color: darkslateblue;
}

.inner td{
  border-style: none;
}

.outer .field{
  border-top-color : honeydew;
  border-left-color: honeydew;
  border-right-color: bisque;
  border-bottom-color: bisque;
}

.middle .field{
  border-top-color : salmon;
  border-left-color: salmon;
  border-right-color: rosybrown;
  border-bottom-color: rosybrown;
}

.inner .field{
  border-top-color : burlywood;
  border-left-color: burlywood;
  border-right-color: darkorange;
  border-bottom-color: darkorange;
}

.field{
  background-color: black;
  border-top-width: 1.5mm;
  border-left-width: 1.5mm;
  border-right-width: 2mm;
  border-bottom-width: 2mm;
  width: 1.5cm;
  height: 1.5cm;
  font-family: monospace;
  font-weight: 900;
  font-size: 1cm;
  vertical-align: middle;
}

.x{
  color: #FF0099 !important;
  border-top-color : #FF0099 !important;
  border-left-color: #FF0099 !important;
  border-right-color: darkmagenta !important;
  border-bottom-color: darkmagenta !important;
}

.o{
  color: blue;
  border-top-color : blue !important;
  border-left-color: blue !important;
  border-right-color: darkblue !important;
  border-bottom-color: darkblue !important;
}

.moved{
  opacity: 0.5;
}