/*Graphics Design is my passion*/

.center{
  width: 1cm;
  height: 1cm;
  border-radius: 45%;
  color: white !important;
  font-family: "Comic Sans MS";
  font-weight: 900;
  font-size: 0.7cm;
  box-shadow: none !important;
  transition: 1s cubic-bezier(0.7, 0, 0.84, 0);
}

td{
  border-style: double;
  border-color: #473d8b70;
}

.inner td{
  border-style: none;
}

.outer .field{
  border-top-color : #f7ec8a;
  border-left-color: #f7ec8a;
  border-right-color: #f4e987;
  border-bottom-color: #f4e987;
}

.middle .field{
  border-top-color : #fa6b5b;
  border-left-color: #fa6b5b;
  border-right-color: #f76858;
  border-bottom-color: #f76858;
}

.inner .field{
  border-top-color : burlywood;
  border-left-color: burlywood;
  border-right-color: darkorange;
  border-bottom-color: darkorange;
}

.field{
  background-color: #00000062;
  border-top-width: 1.5mm;
  border-left-width: 1.5mm;
  border-right-width: 2mm;
  border-bottom-width: 2mm;
  width: 1.5cm;
  height: 1.5cm;
  font-family: monospace;
  font-weight: 900;
  font-size: 1cm;
  vertical-align: middle;
  transition: .5s;
}

.field:hover{
  filter: saturate(1.5);
  box-shadow: 0 0 0.5cm #f4e98748;
}

td .x:hover{
  box-shadow: 0 0 0.5cm #FF0099;
}

td .o:hover{
  box-shadow: 0 0 0.5cm #00ccff;
}

.x{
  color: #FF0099;
  background-color: #FF0099;
  border-top-color : #D000A0 !important;
  border-left-color: #E000B0 !important;
  border-right-color: darkmagenta !important;
  border-bottom-color: darkmagenta !important;
}

.o{
  color: #00aaff;
  background-color: #00aaff;
  border-top-color : #00a0f0 !important;
  border-left-color: #00a0f6 !important;
  border-right-color: #008b8b !important;
  border-bottom-color: darkcyan !important;
}

.moved{
  opacity: 0.5;
}